<div class="container mb-5">
    {{#if product}}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mb-5 mt-5">
                <img src="http://localhost:3000/{{product.image}}" class="card-img-bottom"
                    style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">Description: {{product.discr}}</p>
                    <p class="card-text">Amount: {{product.amount}}</p>
                    <p class="card-text"><small class="text-muted">{{createdAt}}</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                {{#if comments}}
                    {{#each comments}}
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">{{email}}</h5>
                            <p class="card-text">Comment: {{comment}}</p>
                            <p class="card-text">{{createdAt}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="/admin/comment/delete/{{_id}}" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="alert alert-dark" role="alert">
                        No comments yet
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}
</div>